.form {
  min-height: 468px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 14px;
}

.form__error {
  display: none;
  font-size: 11px;
  color: #ff004c;
  text-align: center;
}

.form__error_visible {
  display: block;
}

@media screen and (min-width: 768px) {
  .form {
    min-height: 380px;
    margin-bottom: 16px;
  }
}
