.movie-search__filter-container {
  display: flex;
  gap: 13px;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .movie-search__filter-container {
    gap: 12px;
  }
}

@media screen and (min-width: 1280px) {
  .movie-search__filter-container {
    gap: 14px;
  }
}