.portfolio__link-arrow {
  display: block;
  width: 18px;
  height: 28px;
  background-image: url('../../../../images/arrow.svg');
  background-repeat: no-repeat;
  background-size: 18px 28px;
}

@media screen and (min-width: 768px) {
  .portfolio__link-arrow {
    width: 27px;
    height: 60px;
    background-size: 27px 60px;
  }
}

@media screen and (min-width: 1280px) {
  .portfolio__link-arrow {
    width: 29px;
    background-size: 29px 60px;
  }
}