.about-me__photo {
  display: block;
  object-fit: cover;
  width: 292px;
  height: 352px;
  border-radius: 10px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .about-me__photo {
    width: 255px;
    height: 307px;
  }
}

@media screen and (min-width: 1280px) {
  .about-me__photo {
    width: 270px;
    height: 327px;
  }
}
