.page-error {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page-error__container {
  margin-top: 227px;
  margin-bottom: 284px;
}

.page-error__number {
  font-size: 80px;
  margin: 0;
  margin-bottom: 15px;
  font-weight: 400;
}

.page-error__text {
  font-size: 12px;
  margin: 0;
  text-align: center;
}

.page-error__link {
  text-decoration: none;
  border: 0;
  background: none;
  padding: 0;
  color: #2be080;
  font-size: 12px;
}

@media screen and (min-width: 768px) {
  .page-error__container {
    margin-top: 190px;
    margin-bottom: 185px;
  }

  .page-error__number {
    font-size: 140px;
    margin-bottom: 10px;
  }

  .page-error__text {
    font-size: 16px;
  }

  .page-error__link {
    font-size: 14px;
  }
}
