.promo {
  background-color: #5c5c5c;
}

.promo__background {
  background-image: url('../../images/promo-logo.svg');
  background-repeat: no-repeat;
  background-size: 320px 320px;
  background-size: cover;
  position: absolute;
  width: 248px;
  height: 248px;
  top: 46%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.promo__container {
  max-width: 1140;
  min-height: 570px;
  position: relative;
  display: flex;
  justify-content: center;
}

.promo__title {
  color: #ffffff;
  font-size: 31px;
  font-weight: 400;
  line-height: 39px;
  letter-spacing: -1.24px;
  margin: 0;
  width: 300px;
  text-align: center;
  margin-top: 207px;
}

@media screen and (min-width: 768px) {
  .promo__background {
    width: 320px;
    height: 320px;
    top: 49%;
  }

  .promo__container {
    min-height: 784px;
  }

  .promo__title {
    font-size: 50px;
    line-height: 58px;
    letter-spacing: -2px;
    width: 730px;
    margin-top: 326px;
  }
}

@media screen and (min-width: 1280px) {
  .promo__container {
    min-height: 524px;
  }

  .promo__title {
    margin-top: 184px;
  }
}
