.techs__icon {
  width: 84px;
  height: 57px;
  background-color: #E8E8E8;
  border-radius: 10px;
  font-size: 12px;
  letter-spacing: -0.48px;
  display: flex;
  justify-content: center;
  align-items: center;
}