.search-form__btn {
  border: none;
  font-size: 11px;
  color: #FFFFFF;
  padding: 8px 10px;
  min-height: 34px;
  border-radius: 48px;
  margin: 0 7px;
  background-color: #2BE080;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  z-index: 1;
  cursor: pointer;
}