.navigation__menu {
  display: flex;
  gap: 16px;
}

.navigation {
  display: flex;
  padding-left: 44px;
  justify-content: space-between;
  align-items: center;
}

.navigation__link {
  text-decoration: none;
  color: #000000;
  font-size: 13px;
}

.navigation__account-link {
  display: flex;
  align-items: center;
  gap: 17px;
  text-decoration: none;
  color: #000000;
}

.navigation__account-text {
  color: #000000;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  margin: 0;
}

.navigation__account-icon {
  display: block;
  width: 26px;
  height: 30px;
  background-image: url('../../images/account-icon.svg');
  background-color: #F9F9F9;
  background-repeat: no-repeat;
  background-size: 11.5px 14px;
  background-position: center center;
  border-radius: 4px;
}

@media screen and (max-width: 767px) {
  .navigation {
    position: fixed;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 28px;
    padding-left: 0;
  }

  .navigation__menu {
    flex-direction: column;
    padding-top: 144px;
    gap: 24px;
    align-items: center;
  }

  .navigation__link {
    font-size: 18px;
    font-weight: 500;
    position: relative;
  }

  .navigation__link_active::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: -7px;
    right: 0;
    border-bottom: solid 2px #000000;
  }

  .navigation__account {
    padding-bottom: 48px;
  }
}
