.search-form {
  width: 100%;
  flex: 1;
}

.search-form__btn {
  border: none;
  width: 59px;
  font-size: 11px;
  color: #FFFFFF;
  padding: 8px 10px;
  min-height: 34px;
  border-radius: 48px;
  margin: 7px;
  background-color: #2BE080;
  z-index: 1;
  cursor: pointer;
}

.search-form__btn:hover {
  background-color: hsl(148, 74%, 52%, 0.8);
}

.search-form__field {
  display: flex;
  box-sizing: border-box;
  border: 1.5px solid #AAAAAA;
  opacity: 0.2;
  border-radius: 50px;
  font-size: 14px;
  margin: auto;
  transition: opacity 0.2s ease;
}

.search-form__field:focus-within {
  opacity: 1;
}

.search-form__input {
  flex: 1;
  border: none;
  height: 48px;
  border-radius: 50px;
  outline: none;
  padding: 0 70px 0 16px;
}

@media screen and (max-width: 767px) {
  .search-form__input {
    padding: 0 50px 0 16px;
  }
}