.promo__background {
  background-image: url('../../../../images/promo-logo.svg');
  background-repeat: no-repeat;
  background-size: 320px 320px;
  background-size: cover;
  position: absolute;
  width: 248px;
  height: 248px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (min-width: 768px) {
  .promo__background {
    width: 320px;
    height: 320px;
  }
}