.techs__heading {
  font-size: 30px;
  font-weight: 400;
  letter-spacing: -1.2px;
  text-align: center;
  margin: 0;
  margin-top: 60px;
}

@media screen and (min-width: 768px) {
  .techs__heading {
    font-size: 50px;
    letter-spacing: -2px;
    line-height: 58px;
    margin-top: 80px;
  }
}

@media screen and (min-width: 1280px) {
  .techs__heading {
    margin-top: 90px;
  }
}