.about-me__name {
  font-size: 30px;
  font-weight: 400;
  letter-spacing: -1.2px;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .about-me__name {
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -1.6px;
  }
}

@media screen and (min-width: 1280px) {
  .about-me__name {
    font-size: 50px;
    line-height: 58px;
    letter-spacing: -2px;
  }
}