.portfolio {
  margin-top: 70px;
  margin-bottom: 70px;
}

@media screen and (min-width: 768px) {
  .portfolio {
    margin-top: 91px;
    margin-bottom: 90px;
  }
}

@media screen and (min-width: 1280px) {
  .portfolio {
    margin-top: 101px;
    margin-bottom: 125px;
  }
}