.about-project {
  max-width: 1140px;
  padding: 70px 18px 60px;
  margin: auto;
}

.table {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  margin-bottom: 60px;
  gap: 56px;
}

.table__heading {
  margin: 0;
  margin-bottom: 13px;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: -0.72px;
  line-height: 25px;
}

.table__text {
  margin: 0;
  font-size: 11px;
  line-height: 15px;
}

.timeline__container {
  display: flex;
  height: 35px;
  font-size: 11px;
}

.timeline__big-part {
  margin: 0;
  color: #A0A0A0;
  flex-grow: 4;
  display: flex;
  align-items: center;
  justify-content: center;
}

.timeline__big-part_grey {
  background-color: #F2F2F2;
  color: #000000;
}

.timeline__small-part {
  margin: 0;
  color: #A0A0A0;
  flex-grow: 1;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.timeline__small-part_green {
  background-color: #2BE080;
  color: #000000;
}

@media screen and (min-width: 768px) {
  .about-project {
    padding: 90px 50px 90px;
  }

  .table {
    flex-direction: row;
    margin-top: 70px;
    margin-bottom: 93px;
    gap: 36px;
  }

  .table__heading {
    font-size: 20px;
    margin-bottom: 22px;
    line-height: 25px;
  }

  .table__text {
    font-size: 12px;
    line-height: 18px;
  }

  .timeline__container {
    height: 35px;
    font-size: 14px;
  }
}

@media screen and (min-width: 1280px) {
  .about-project {
    padding: 110px 0 110px;
  }

  .table {
    margin-bottom: 110px;
    gap: 52px;
  }

  .table__heading {
    margin-bottom: 28px;
  }

  .table__text {
    font-size: 14px;
    line-height: 19px;
  }
}

