.portfolio__list-item {
  display: flex;
  justify-content:space-between;
  padding-top: 20px;
  padding-bottom: 19px;
  border-bottom: 1px solid #E6E6E6;
  position: relative;
}

.portfolio__list-item:first-child {
  padding-top: 0;
}

.portfolio__list-item:last-child {
  padding-bottom: 0;
  border-bottom: none;
}
