.promo__container {
  max-width: 1140;
  min-height: 570px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .promo__container {
    min-height: 784px;
  }
}

@media screen and (min-width: 1280px) {
  .promo__container {
    min-height: 524px;
  }
}