.about-project {
  max-width: 1140px;
  margin: 70px 18px 0;
  padding-bottom: 70px;
}

@media screen and (min-width: 768px) {
  .about-project {
    margin: 90px 50px 0;
    padding-bottom: 90px;
  }
}

@media screen and (min-width: 1280px) {
  .about-project {
    margin: 110px auto 0;
    padding-bottom: 110px;
  }
}
