.about-me__link {
  display: block;
  font-size: 14px;
  font-weight: 500;
  margin-top: 40px;
  text-decoration: none;
  color: #000000;
}

@media screen and (min-width: 768px) {
  .about-me__link {
    margin-top: 87px;
  }
}

@media screen and (min-width: 1280px) {
  .about-me__link {
    margin-top: 99px;
  }
}